{% extends "pages/base.html"%}

{% block head%}
{{ super() }}
<link rel="stylesheet" href="/static/css/article.css">
<link rel="stylesheet" href="/static/css/responsive/article.css">
{% endblock%}

{% block content %}
<main>
    <h2>{{ info.titulo }}</h2>
    <div class="article-info">
        <img class="card-img" src="{{ info.portada }}">
        <div class="information">
            <div class="description">
                <div class="sipnosis">
                    <h4>Sipnosis</h4>
                    <p>{{ info.sipnosis}}</p>
                </div>
                <div class="extra-info">
                    <div class="generos">
                        <h4>Generos</h4>
                        <p>
                            {% for genero in info.generos %}
                                <a href="#">{{genero}}</a>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="estado">
                        <h4>Estado</h4>
                        <p> {{ info.estado }} </p>
                    </div>
                    <div class="autor">
                        {% if info.tipo == 'anime' %}
                            <h4>Estudio</h4>
                            <p>{{info.autor}}</p>
                        {% else %}
                            <h4>Autor</h4>
                            <p>{{info.autor}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="enlaces">
                {% if info.tipo == 'anime' or info.tipo == 'manga' %}
                    <h4> Puedes encontrar este {{info.tipo}} en: </h4>
                {% else %}
                    <h4> Puedes encontrar esta novela en: </h4>
                {% endif %}
                <table class="links">
                    <thead>
                        <tr>
                            <th>Plataforma</th>
                            <th>Enlace</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enlace in info.links %}
                        <tr>
                            <td>
                                <div>
                                    <img src="{{ enlace.logo }}" alt="{{ enlace.site }}">
                                    {{ enlace.site }}
                                </div>
                            </td>
                            <td>
                                <a class="enlace" href="{{ enlace.url }}" target="_blank" rel="noopener noreferrer">Visitar sitio web</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% if not info.links and info.link %}
                        <tr>
                            <td>
                                <div>Sitio oficial</div>
                            </td>
                            <td>
                                <a class="enlace" href="{{ info.link }}" target="_blank" rel="noopener noreferrer">Visitar sitio web</a>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}