footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-primary);
    color: white;
}

footer .redes{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

footer .redes a{
    text-decoration: none;
    color: rgb(67, 207, 218);
}

.platforms{
    display: flex;
    justify-content: space-around;
}

footer .rights{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 100%;
    width: 100%;
    color: white;
    background: rgb(6, 28, 56);
}