@media screen and (max-width: 992px) {
    .article-info{
        grid-template-columns: 1fr;
        gap: 5px
    }
}

@media screen and (max-width: 1220px) {
    .article-info > img{
        height: 350px;
        width: 250px;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .article-info .links .enlace{
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .filters form{
        flex-wrap: wrap;
        justify-content: center;
    }

    .article-info > img{
        height: auto;
        width: 100%;
        max-width: 250px;
    }

    .article-info .extra-info{
        flex-wrap: wrap;
        gap: 15px;
    }

    .article-info .links{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media screen and (max-width: 480px) {
    .article-info .description{
        padding: 15px;
    }

    .article-info .enlaces{
        padding: 15px;
    }

    .article-info .links td, .article-info .links th{
        padding: 8px;
    }
}