{% extends "pages/admin/base.html" %}

{% block title %} Administración {% endblock %}

{% block content %}
<main class="menu container-fluid">
    <div class="box">
        <h1 class="mb-3">Administración</h1>
        <div class="box-links">
            <a class="btn btn-primary shadow-none" href="/admin/articulos">Articulos</a>
            <a class="btn btn-primary shadow-none" href="/admin/generos">Generos</a>
            <a class="btn btn-primary shadow-none" href="/admin/carrusel">Carrusel</a>
        </div>
    </div>
</main>
{% endblock %}